img {
    width: 200px;
    height: 200px;
}
.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

h3 {
    font-size: 25px;
    color: goldenrod;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

